.home-title {
  display: block;
  padding-top: 220px;
  background-image: url("/image/dandelions.png");
  background-position: 85px -75px;
  background-repeat: no-repeat;
  background-size: initial;
}

.product-card__title {
  margin: 0 0 110px 0;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
}

.product-card__container-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  max-width: 1210px;
  margin: 0 auto;
}

.button__item {
  width: 230px;
  height: 55px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  border: 2px solid;
  background-color: #778899;
  color: #FFFAFA;
}

.button__item:hover {
  background-color: #FFFAFA;
  color: #515076FF;
  transition: .3s .2s;
}

.bg-peachpuff {
  background-color: #FFDAB9;
}

.container__product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 35px;
  background-color: #FFFFFFFF;
}

.product-cards__item {
  width: 340px;
  height: 573px;
  padding: 25px;
  box-shadow: 2px 2px 10px 0 #5150761a;
  background-color: #f7f7fa;
}

.product-cards__description {
  padding-top: 30px;
}

.product-cards__description-item {
  color: #A5A3B9FF;
  font-size: 12px;
  text-transform: uppercase;
}

.product-cards__description-title {
  font-size: 20px;
  margin: 15px 0 8px 0;
}

.product-cards__description-title, .description-price__text {
  font-weight: 700;
}

.product-cards__description-paragraph {
  margin-bottom: 15px;
}

.product-cards__description-price {
  display: flex;
  justify-content: space-between;
}

.product-cards__description-list {
  margin: 10px 0 25px 0;
}

.product-cards__description-paragraph, .product-cards__description-compound, .product-cards__description-list {
  font-size: 13px;
  font-weight: 400;
}

.product-cards__description-list>li {
  margin-bottom: 5px;
  list-style: none;
}

.product-cards__description-list>li:last-child {
  margin-bottom: 0;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 8px;
  border: 1px solid #515076FF;
  border-radius: 50%;
  vertical-align: middle;
}

#registration-form {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 50px;
  width: 300px;
  gap: 7px;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  background-color: #778899;
  color: #FFFFFF;
  background-image: url("/image/dandelions.png");
  background-position: 105px -85px;
}

.registration-btn {
  margin-top: 20px;
  transition: .3s .2s;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  border: 1px;
  cursor: pointer;
  background-color: #FFFAFA;
  color: #515076FF;
}

.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000;
  z-index: 0;
}

.modal-showed {
  position: relative;
  width: 550px;
  padding: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  border: 1px solid;
  border-radius: 10px;
  background-color: #3A3A3A;
  z-index: 2;
}

.open-modal {
  display: flex;
}

.close-modal {
  display: none;
}

#authorization-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.authorization-form__title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #FFF;
}

#authorization-form label {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.user-login-2, .user-password-2, #login-btn {
  border: 1px solid #778899;
  border-radius: 10px;
  padding: 10px;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
}

.user-password-2 {
  margin-bottom: 30px;
}

#login-btn {
  background-color: #778899;
  color: #FFFFFF;
  margin: 0;
}

#login-btn:hover {
  background-color: #FFDAB9;
  color: #FFFFFF;
  transition: .3s .2s;
}

#close-btn {
  position: absolute;
  color: #FFFFFF;
  top: 20px;
  right: 20px;
  font-weight: 700;
  font-size: 23px;
  border: none;
  background: none;
  cursor: pointer;
}

#close-btn:hover {
  color: #ab1010;
  transition: .3s;
}

.footer__contact-info {
  display: flex;
  justify-content: space-between;
  padding-top: 85px;
}

.more-products__title {
  font-size: 28px;
  font-weight: 800;
  line-height: 154%;
}

.more-products__description {
  margin: 16px 0 42px 0;
  font-size: 18px;
  font-weight: 400;
}

.more-products__our-pages {
  display: flex;
  align-items: center;
}

.more-products__our-pages a {
  margin-right: 30.5px;
}

.email-form__subscription {
  display: block;
  text-align: end;
  font-size: 24px;
  font-weight: 400;
  margin-right: 39px;
  padding-bottom: 13px;
}

#email-form__sending-mail {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 477px;
  height: 61px;
}

#email-form__sending-mail::before {
  content: "";
  position: relative;
  top: 19px;
  left: 330px;
  height: 18px;
  border: 1px solid #000000;
}

#email-form__sending-mail input {
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  min-width: 320px;
  padding-left: 39px;
}

input::placeholder {
  color: #000000BF;
}

.sending-mail__subscribe-btn {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-right: 15px;
  cursor: pointer;
}

.site-navigation__links {
  display: flex;
  flex-direction: column;
}

.link-main-thing, .link-store {
  margin-bottom: 17px;
}

.link-contact {
  margin: 0;
}

.site-navigation__text {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 500;
}

.contact-info__emails {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 33px;
  margin-top: 175px;
}

.contact-info__emails::before {
  content: "";
  width: 66px;
  border: 1px solid #FFFFFF;
}