* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  color: #515076FF;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.footer {
  min-height: 477px;
  background-color: #3A3A3A;
  color: #FFFFFF;
}